{% extends 'base.html' %}
{% block content %}
<div class="container mt-5">
    <div class="card shadow card-theme">
        <div class="card-header bg-primary text-white">
            <h4>Edit Profile</h4>
        </div>
        <div class="card-body">
            <!-- Formulário de edição de perfil -->
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="mb-3">
                    <label for="username" class="form-label"><strong>Username</strong></label>
                    {{ form.username }}
                </div>
                <div class="mb-3">
                    <label for="email" class="form-label"><strong>Email</strong></label>
                    {{ form.email }}
                </div>
                <div class="mb-3">
                    <label for="first_name" class="form-label"><strong>First Name</strong></label>
                    {{ form.first_name }}
                </div>
                <div class="mb-3">
                    <label for="last_name" class="form-label"><strong>Last Name</strong></label>
                    {{ form.last_name }}
                </div>
                <div class="mb-3">
                    <label for="profile_picture" class="form-label"><strong>Profile Image</strong></label>
                    {{ form.profile_picture }}
                </div>
                <hr>
                <div class="text-end">
                    <button type="submit" class="btn btn-success">Save Changes</button>
                    <a href="{% url 'user_profile' %}" class="btn btn-secondary">Cancel</a>
                </div>
            </form>

            <!-- Formulário de alteração de senha -->
            <hr class="my-4">
            <h5>Change Password</h5>
            <form method="post" action="{% url 'password_change' %}">
                {% csrf_token %}
                {{ password_form.as_p }}
                <div class="text-end mt-3">
                    <button type="submit" class="btn btn-warning">Update Password</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
