{% extends "base.html" %}
{% load widget_tweaks %}
{% block content %}
<div class="container mt-5 d-flex justify-content-center">
    <div class="card shadow card-theme" style="width: 100%; max-width: 600px; padding: 20px;">
        <div class="card-header bg-primary text-white text-center">
            <h4>Change Password</h4>
        </div>
        <div class="card-body">
            <!-- Exibição de mensagens de erro -->
            {% if form.errors %}
            <div class="alert alert-danger">
                {% for field, errors in form.errors.items %}
                    {% for error in errors %}
                        <p class="text-light">{{ error }}</p>
                    {% endfor %}
                {% endfor %}
                {% for error in form.non_field_errors %}
                    <p>{{ error }}</p>
                {% endfor %}
            </div>
            {% endif %}
            
            <!-- Formulário de alteração de senha -->
            <form method="post" class="mb-4">
                {% csrf_token %}
                <div class="mb-4">
                    <label for="old_password" class="form-label">Old Password</label>
                    {{ form.old_password|add_class:"form-control input-theme" }}
                </div>
                <div class="mb-4">
                    <label for="new_password1" class="form-label">New Password</label>
                    {{ form.new_password1|add_class:"form-control input-theme" }}
                    {% if form.new_password1.help_text %}
                        <small class="form-text text-muted">{{ form.new_password1.help_text }}</small>
                    {% endif %}
                </div>
                <div class="mb-4">
                    <label for="new_password2" class="form-label">Confirm New Password</label>
                    {{ form.new_password2|add_class:"form-control input-theme" }}
                </div>
                <div class="d-flex justify-content-center gap-4">
                    <button type="submit" class="btn btn-success py-2">Update Password</button>
                    <a href="{% url 'user_profile' %}" class="btn btn-secondary py-2">Cancel</a>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
