{% extends 'base.html' %}

{% block title %}Home - Task Management{% endblock %}

{% block content %}
<style>
    body {
        background-color: #000 !important; /* Black background */
        color: #fff; /* White text for contrast */
    }
</style>

<video class="video-background" autoplay muted loop>
    <source src="/media/footages/background-video-home-page.mp4" type="video/mp4">
    Your browser does not support the video tag.
</video>
<!-- Diagonal grid overlay on the video -->
<div class="overlay-pattern"></div>

<!-- Centered content -->
<div class="home-content">
    <h1>Welcome to <br> Task Management App!</h1>
    <p>Manage your tasks efficiently and effectively.</p>
    <div class="mt-4">
        <a href="{% url 'login' %}" class="btn btn-primary me-2">Login</a>
        <a href="{% url 'register' %}" class="btn btn-success">Register</a>
    </div>
</div>
{% endblock %}
