/* Fundo geral */
body {
    background-color: #f5f5f5; /* Fundo claro */
    color: #000; /* Texto preto */
}

/* Estilo dos cartões */
.task-card {
    background-color: #ffffff; /* Fundo branco dos cards */
    border: 1px solid #e0e0e0; /* Borda sutil */
    border-radius: 10px;
    padding: 15px;
    margin-bottom: 15px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.12), 0 3px 6px rgba(0, 0, 0, 0.19);
    color: #333; /* Texto escuro */
    height: 250px; /* Altura fixa */
    width: 100%; /* Preenche a largura disponível */
    display: flex;
    flex-direction: column; /* Organização vertical */
    justify-content: space-between;
    transition: transform 0.2s, box-shadow 0.2s;
}

.task-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.25);
}

/* Títulos */
h2 {
    color: #ffffff;
}

/* Botões */
.btn {
    border-radius: 50px;
    padding: 10px 20px;
    font-size: 1.1rem;
    transition: background-color 0.3s, transform 0.2s;
}

.btn:hover {
    opacity: 0.9;
}

.btn-primary {
    background-color: #36c5f0; /* Azul Slack */
    border: none;
    color: #fff;
    padding: 8px 16px;
    font-size: 0.9rem;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

.btn-primary:hover {
    background-color: #2a94d9; /* Azul mais escuro */
}


.btn-danger {
    background-color: #e01e5a; /* Vermelho Slack */
    border: none;
    color: #fff;
    padding: 8px 16px;
    font-size: 0.9rem;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

.btn-danger:hover {
    background-color: #b01746; /* Vermelho mais escuro */
}

.btn-success {
    background-color: #28a745;
    border-color: #28a745;
}

.btn-success:hover {
    background-color: #218838;
    border-color: #1e7e34;
}

.btn-secondary {
    background-color: #6c757d;
    border-color: #6c757d;
}

.btn-secondary:hover {
    background-color: #5a6268;
    border-color: #545b62;
}

/* Links no card */
.task-card a {
    text-decoration: none;
}

.task-card a:hover {
    color: #29b6f6; /* Azul mais vivo ao passar o mouse */
}

/* Formulário de Filtros */
.filters {
    flex-wrap: wrap;
    gap: 20px;
    background-color: #f8f9fa;
    color: #000000;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.filters label {
    color: #000000; /* Texto escuro para rótulos */
    font-weight: bold;
}

.filters select {
    width: 100%;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

/* Formulários */
.form-label {
    font-weight: bold;
    font-size: 1.2rem;
}

.form-control, .form-check-input {
    border-radius: 10px;
    box-shadow: none; /* Retira sombra dos campos */
}

.form-control {
    background-color: #f2f2f2; /* Cinza claro */
    border: 1px solid #ced4da; /* Borda sutil */
    color: #495057; /* Cor do texto */
    transition: background-color 0.3s ease;
}

.form-control-lg {
    padding: 15px;
    font-size: 1.1rem;
}

.form-control:focus {
    background-color: #e6e6e6; /* Cinza um pouco mais escuro no foco */
    border-color: #80bdff; /* Realce na borda ao focar */
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.form-check-label {
    font-weight: normal;
}

/* Alertas */
.alert {
    border-radius: 5px;
    font-weight: bold;
}

.alert-warning {
    background-color: #ffcc00;
    color: #fff;
    padding: 5px;
}

.alert-success {
    background-color: #28a745;
}

.alert-danger {
    background-color: #dc3545;
}

/* Estilo do card */
.card-body {
    padding: 30px;
}

.card-footer {
    padding: 10px;
    /* border-top: 1px solid #eaeaea; */
}

.row-cols-md-3 {
    margin-top: 20px;
}


.badge-category {
    font-family: 'Noto Color Emoji', sans-serif;
    display: inline-block;
    padding: 5px 10px;
    border-radius: 5px;
    font-weight: bold;
    color: #fff; /* Texto branco */
}

.badge {
    font-size: 1rem;
    font-weight: bold;
    border-radius: 5px;
    padding: 5px 10px;
}

/* Estilo para o card hover */
.task-card {
    transition: transform 0.3s, box-shadow 0.3s;
    border-radius: 10px;
}

.task-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2);
}



/* Cores específicas para cada categoria */
.badge-category-uncategorized { background-color: #000000; } /* Preto */
.badge-category-urgent { background-color: #ff0000; } /* Vermelho */
.badge-category-hobbies { background-color: #ff9800; } /* Laranja */
.badge-category-family { background-color: #4a154b; } /* Roxo escuro */
.badge-category-travel { background-color: #36c5f0; } /* Azul */
.badge-category-education { background-color: #ecb22e; } /* Amarelo */
.badge-category-shopping { background-color: #8bc34a; } /* Verde claro */
.badge-category-finance { background-color: #2e7d32; } /* Verde escuro */
.badge-category-health { background-color: #e01e5a; } /* Vermelho escuro */
.badge-category-personal { background-color: #6d4c41; } /* Marrom */
.badge-category-work { background-color: #2eb67d; } /* Verde água */

/* Emojis específicos para cada categoria */
.badge-category-uncategorized::before { content: "❓"; margin-right: 5px; }
.badge-category-urgent::before { content: "⚠️"; margin-right: 5px; }
.badge-category-hobbies::before { content: "🎨"; margin-right: 5px; }
.badge-category-family::before { content: "👨‍👩‍👧‍👦"; margin-right: 5px; }
.badge-category-travel::before { content: "✈️"; margin-right: 5px; }
.badge-category-education::before { content: "📘"; margin-right: 5px; }
.badge-category-shopping::before { content: "🛒"; margin-right: 5px; }
.badge-category-finance::before { content: "💰"; margin-right: 5px; }
.badge-category-health::before { content: "❤️"; margin-right: 5px; }
.badge-category-personal::before { content: "🏡"; margin-right: 5px; }
.badge-category-work::before { content: "💼"; margin-right: 5px; }



@media (max-width: 768px) {
    .card-body {
        padding: 20px;
    }
    .filters {
        flex-direction: column;
    }
}
